@import 'global';
@import 'registration-page';

@mixin questionnare-button {
    cursor: pointer;
    background-color: unset;
    border: none;
    display: flex;
    align-items: center;
}

body {
    background-color: $background-blue;
}

.questionnaire {

    &__header-icon {
        position: absolute;
        top: 16px;
        left: $padding;

        @include media-tablet {
            top: 22px;
        }
    }

    &__wrapper {
        min-width: 60%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 50px 20px;
        text-align: left;
        background-color: $gray;
        border-radius: 50px;
        margin: 75px 10px;
        position: relative;

        @include media-tablet {
            padding: 100px 150px;
            margin: 75px 40px;
        }

        &--checkout {
            @extend .questionnaire__wrapper;
            background-color: $white;
            padding: 50px 20px;
        }

        & .questionnaire__information-tooltip {
            width: 330px;
            top: -20px;
            left: 75%;
            transform: translate(-50%, -100%);
            padding: 20px 20px;
            color: $color-primary;
            background-color: $white;
            font-family: $gordita-regular;
            border-radius: 8px;
            position: absolute;
            z-index: 1;
            box-sizing: border-box;
            box-shadow: 0 1px 8px #DDE4E5;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.8s;

            @include media-tablet {
                left: 10%;
            }
        }
    }

    &__title {
        max-width: 690px;
        margin-bottom: 25px;

        @include media-tablet {
            margin-bottom: 10px;
        }
    }

    &__subtitle {
        @include questionnare-button();
        font-family: $gordita-regular;
        margin-bottom: 30px;
        position:relative;

        span {
            margin-left: 10px;
            font-family: $gordita-regular;
        }

        &:hover .questionnaire__information-tooltip {
            visibility: visible;
            opacity:1;
        }

        &--statement {
            margin-bottom: 0;
        }
    }

    &__information-icon {
        width: 17px;
        height: 17px;
    }

    &__back-button {
        @include questionnare-button();
        margin-bottom: 45px;

        span {
            margin-left: 8px;
        }

        &:hover {
            svg {
                rect {
                    fill: $color-primary;
                    transition: all .4s ease-out;
                }

                path {
                    stroke: $white;
                    transition: all .4s ease-out;
                }
            }
        }
    }

    &__progressbar {
        display: flex;
        gap: 8px;
        margin-bottom: 25px;

        @include media-tablet {
            margin-bottom: 40px;
        }

        div {
            height: 2px;
            width: 40px;
            border-radius: 25px;
            background-color: $background-gray;
        }

        & &--filled {
            background-color: $color-primary;
        }
    }

    &__loader {
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        height: 0;

        &.show {
            transition: opacity 1s ease;
            opacity: 1;
            height: 60vh;
        }
    }

    &__loader-img {
        max-width: 250px;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__yes-no {
        margin-bottom: 20px;
    }

    &__statement {
        margin: 30px 0 15px;
        max-width: 690px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li:not(:first-child) {
            list-style: disc;
            margin-left: 15px;
        }
    }

    &__textarea {
        @extend .form__input;
        @extend .typography__small;
        resize: none;
        max-width: 600px;
        width: 100%;
        height: 100px;
        margin-bottom: 20px;
        
        &:focus {
            border: 1px solid $background-gray;
        }
    }

    &__text-field {
        @extend .form__input;
        @extend .typography__small;
        resize: none;
        max-width: 600px;
        width: 100%;
        height: 40px;
        margin-bottom: 20px;

        &:focus {
            border: 1px solid $background-gray;
        }
    }

    &__image-choice-wrapper {
        margin: 0 auto;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 940px;

        @include media-tablet {
            margin: 0 -100px;
        }

        @include media-small-laptop {
            margin: 0;
        }
    }

    &__image-choice {
        padding: 15px;
        border-radius: 20px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 45%;
        transition: all 0.3s;

        @include media-tablet {
            width: 29%;
            max-width: 300px;
        }

        @include media-small-laptop {
            width: 30%;
            max-width: 300px;
        }

        &:hover {
            box-shadow: 0 8px 30px rgba(0,0,0,0.12);
            transform: scale(1.02);
        }
    }

    &__image-choice-picture {
        border-radius: 20px;
        width: 100%;
        max-width: 150px;
        margin-bottom: 15px;

        @include media-tablet {
            max-width: unset;
        }
    }

    &__description {
        max-width: 690px;
        margin-top: 20px;
    }

    &__product-card, &__button {
        max-width: 260px;

        @include media-tablet {
            max-width: 375px;
        }
    }

    &__button {
        width: 100%;
    }

    &-product {
        &__wrapper {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            padding: 20px;
            max-width: 500px;
            border-radius: 12px;
            background: linear-gradient(0deg, #f5f4f4, #f5f4f4), #d9c6b6;;
        }

        &__heading {
            display: flex;
            gap: 20px;
        }

        &__image {
            width: 55%;
            max-height: 170px;
            max-width: 170px;
            object-fit: cover;

            @include media-tablet {
                width: 50%;
            }
        }

        &__heading-text {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        &__options {
            width: 100%;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 15px;
        }

        &__option {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            &-value {
                display: flex;
                gap: 5px;
            }

            &-bold {
                @extend .typography__small--inter;
                font-weight: 600;
            }

            &--large {
                height: 50px;
            }
        }

        &__arrow {
            display: flex;
            align-items: center;
            gap: 5px;

            div div svg {
                max-height: 12px;
                margin-top: 3px;
            }
        }

        &__checkout {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            padding: 20px;
            gap: 20px;
            background-color: $white;
            border-radius: 12px;
        }

        &__quantity {
            @extend .typography__title;
            font-family: $gordita-regular;
        }

        &__button {
            width: 228px;
        }
    }

    &__checkbox {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &-file {
        margin-bottom: 20px;
        width: 100%;
        max-width: 720px;
        height: 300px;
        background-color: $background-gray;
        transition: background-color 0.3s;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;

        &.drag-over {
            background-color: darken($background-gray, 10%);
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        &__input {
            visibility: hidden;
        }

        &__text {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
        }

        &__delete-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            transition: background-color 0.3s;
            border: none;
            border-radius: 50%;
            width: 40px;
            height: 40px;

            &:hover {
                background-color: $color-primary;

                div svg path {
                    stroke: $white;
                }
            }

            div svg {
                margin-top: 5px;
            }
        }
    }
}

.form__radio {
    display: flex;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 8px;
    width: unset;
    background-color: $white;
    padding: 11px 20px 8px;
    border-radius: 64px;

    @include media-tablet {
        padding: 20px 20px 17px;
    }

    input {
      opacity: 0;

      &:checked + .radio-value {
        &:before {
          box-shadow: inset 0 0 0 4px $white;
          border: 2px solid $color-primary;
          background-color: $color-primary;
        }
      }
    }

    .radio-value {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      transition: 0.25s ease;
      padding-left: 35px;

      &:before {
        position: absolute;
        left: 20px;
        top: calc(50% - 10px);
        content: '';
        background-color: $white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid $background-gray;
        margin-right: 10px;
        transition: 0.25s ease;
        box-sizing: border-box;
      }

      &:hover:before {
        border: 2px solid $color-primary;
      }
    }
  }

  .form__select {
    @extend .typography__p;
    width: 100%;
    border: none;
    padding: 11px 20px 8px;
    border-radius: 64px;
    outline: none;

    @include media-tablet {
        padding: 20px 30px 17px;
        max-width: 360px;
    }
  }

  .display-none {
    display: none !important;
  }
